.header
  #main
    %ul.menu
      %li.menu__small_box
        = link_to '東京版', '#', id: "header__button"
        %ul.sub
          %li.sub--each_box
            = link_to 'エリア一覧', '#'
          %li.sub--each_box
            = link_to '1| 千代田区、中央区、港区', '#'
          %li.sub--each_box
            = link_to '2| 新宿区、豊島区、文京区', '#'
          %li.sub--each_box
            = link_to '3| 渋谷区、杉並区、中野区', '#'
          %li.sub--each_box
            = link_to '4| 世田谷区、目黒区、品川区、大田区', '#'
          %li.sub--each_box
            = link_to '5| 練馬区、板橋区、北区', '#'
          %li.sub--each_box
            = link_to '6| 足立区、葛飾区、荒川区、台東区', '#'
          %li.sub--each_box
            = link_to '7| 江戸川区、墨田区、江東区', '#'
          %li.sub--each_box
            =link_to '東京都下', '#'
      %li.menu__small_box
        = link_to '愛知版', '#', id: "header__button"
        %ul.sub
          %li.sub--each_box
            = link_to 'エリアから選ぶ', '#'
          %li.sub--each_box
            = link_to '1| 中村区、中区', '#'
          %li.sub--each_box
            = link_to '2| その他の名古屋市内', '#'
          %li.sub--each_box
            = link_to '3| 西尾張エリア', '#'
          %li.sub--each_box
            = link_to '4| 東尾張エリア', '#'
          %li.sub--each_box
            = link_to '5| 知多エリア', '#'
          %li.sub--each_box
            = link_to '6| 三河エリア', '#'
      %li.menu__small_box
        = link_to '大阪版', '#', id: "header__button"
        %ul.sub
          %li.sub--each_box
            = link_to 'エリアから選ぶ', '#'
          %li.sub--each_box
            = link_to '1| キタ1 北区', '#'
          %li.sub--each_box
            = link_to '2| キタ2 大阪１以外', '#'
          %li.sub--each_box
            = link_to '3| ミナミ１ 中央区、西区', '#'
          %li.sub--each_box
            = link_to '4| ミナミ２ 大阪１以外', '#'
          %li.sub--each_box
            = link_to '5| 北摂エリア', '#'
          %li.sub--each_box
            = link_to '6| 北河内・東大阪エリア', '#'
          %li.sub--each_box
            = link_to '7| 堺・泉南エリア', '#'
          %li.sub--each_box
            = link_to '8| 南河内エリア', '#'
      %li.menu__small_box
        = link_to '福岡版', '#', id: "header__button"
        %ul.sub
          %li.sub--each_box
            = link_to 'エリアから選ぶ', '#'
          %li.sub--each_box
            = link_to '1| 中央区', '#'
          %li.sub--each_box
            = link_to '2| 博多区', '#'
          %li.sub--each_box
            = link_to '3| 早良区', '#'
          %li.sub--each_box
            = link_to '4| 東区', '#'
          %li.sub--each_box
            = link_to '5| 南区', '#'
          %li.sub--each_box
            = link_to '6| 西区', '#'
      %li.menu__small_box
        = link_to 'ハピテクとは', '#', id: "header__button"
      %li.menu__small_box
        =link_to '掲載希望はこちら', '#', id: "header__button"